/* ===================== */
/* General Styles        */
/* ===================== */


/* ===================== */
/* Header                */
/* ===================== */
h1 {
    text-align: center;
    margin-top: 80px;
    font-size: 3rem;
    background: linear-gradient(90deg, #3498db, #2ecc71);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.1);
}
