{% extends "layout.html" %}

{% block title %}Home - WordApp{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-home.css') }}">
{% endblock %}
    
{% block content %}

    <h1>Welcome to WordApp</h1>

    <div class="container">
        <a href="/top-words" class="card"><span class="icon">📚</span>Top từ thông dụng</a>
        <a href="/my_learning" class="card"><span class="icon">📝</span>Từ của tôi</a>
        <a href="/kanji" class="card"><span class="icon">🎯</span>Kanji</a>
        <a href="/grammar" class="card"><span class="icon">💡</span>Grammar</a>
        <a href="/page5" class="card"><span class="icon">🧩</span>Practice</a>
        <a href="/page6" class="card"><span class="icon">📊</span>Stats</a>
        <a href="/page1" class="card"><span class="icon">📚</span>Vocabulary</a>
        <a href="/page2" class="card"><span class="icon">📝</span>Grammar</a>
        <a href="/page3" class="card"><span class="icon">🎯</span>Top Words</a>
        <a href="/page4" class="card"><span class="icon">💡</span>Kanji</a>
        <a href="/page5" class="card"><span class="icon">🧩</span>Practice</a>
        <a href="/page6" class="card"><span class="icon">📊</span>Stats</a>
    </div>
{% endblock %}
