{% extends "layout.html" %}
{% block title %}{{ grammar.pattern }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/grammar.css') }}">
{% endblock %}

{% block content %}
<div class="grammar-detail-wrapper">

    <div class="grammar-header">
        <div class="grammar-pattern-large">{{ grammar.pattern }}</div>
        <div class="grammar-level-badge">{{ grammar.level }}</div>
    </div>

    <div class="grammar-section">
        <h3>📖 Meaning</h3>
        <p>{{ grammar.meaning }}</p>
    </div>

    <div class="grammar-section">
        <h3>🧠 Explanation</h3>
        {% if grammar.usages %}
            {% for usage in grammar.usages %}
                <p>{{ usage.pattern }}</p>
                <p>{{ usage.meaning }}</p>
                <p>{{ usage.explanation }}</p>
                <p>{{ usage.h_note }}</p>
                <p>{{ usage.note }}</p>

                <div class="grammar-section">
                    <h3>✏ Examples {{loop.index}}</h3>
                    <ul class="grammar-examples">
                        {% for ex in usage.examples %}
                            <li><b>{{ ex.sentence }}</b></li>
                            <p>{{ ex.furigana }}</p>
                            <p>{{ ex.translation }}</p>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    
    <!-- Actions -->
    <div class="btn-actions">
        <button class="btn primary" 
        onclick="addGrammar({{grammar.id}}, this)" 
        {% if btn_data.disabled_flg %}disabled{% endif %}
         >
            {{btn_data.display_text}}
        </button>

        <button class="btn ghost" onclick="goBack()">← Quay lại danh sách</button>
    </div>


</div>

<script src="{{ url_for('static', filename='js/grammar.js')}}"></script>

{% endblock %}
