{% extends "layout.html" %}
{% block title %}Danh sách từ đã thêm{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/grammar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/top.css') }}">
{% endblock %}

{% block content %}

<div class="container">

<div class="tabs">
    <label class="active-tab" for="t-learning" data-status="learning">📘 Đang học</label>
    <label for="t-reviewing" data-status="reviewing">🔁 Đang ôn</label>
    <label for="t-mastered" data-status="mastered">✔ Đã thuộc</label>
    <label for="t-dropped" data-status="dropped">❌ Đã bỏ</label>
    <!-- <label for="t-search-history" data-status="search-history">❌ Lịch sử</label> -->
</div>

<div class="content">

<div class="panel">
    <table>
        <thead>
            <tr><th>Từ vựng</th><th>Trạng thái</th><th>Action</th></tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div class="pagination" id="pagination"></div>
</div>
</div>

<div id="toast-container"></div>

<script src="{{ url_for('static', filename='js/my_learning.js') }}"></script>

{% endblock %}